body{
    background-color: rgba(7, 7, 7, 0.905);
}

#top{
    background-color: dimgrey;
    text-align: center;
}

#title1{
    font-size: 130%;
}

#title2{
    font-size: 120%;
}

.instrumentBox{
    border-style: solid;
    border-color: dimgray;
    border-radius: 50px;
    background-color: rgb(36, 36, 36);

}

.instrumentName{
    color: aliceblue;
    text-align: center;
    font-size: 180%;
}



.instrumentImage{
    display: flex;
    justify-content: center;
}

.clickButton{
    text-align: center;
    font-size: 150%;
}



#row1, #row2{
    overflow: hidden;
}



#saxophoneBox, #fluteBox{
    float: left;
    width: 49.2%;
}

#clarinetBox, #trumpetBox{
    float: right;
    width: 49.2%; 
}

#saxophoneBox, #clarinetBox{
    height: 97%;
}

#fluteBox, #trumpetBox{
    height: 97%
}

