body {
    background-image: linear-gradient(to bottom left, rgb(14, 14, 14), rgb(58, 58, 58), rgb(14, 14, 14));
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#page-text-container {
    text-align: center;
}

#page-title {
    font-size: 130%;
    color: white;
    font-family: sans-serif;
}

#page-description {
    font-size: 120%;
    color: white;
    font-family: sans-serif;
}

#home-button {
    position: absolute;
    top: 10px;
}


#main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    
}

.practise-option-container {
    border-style: solid;
    border-color: dimgray;
    border-radius: 50px;
    background-color: rgb(36, 36, 36);
    height: 30vh;
}

.option-title {
    text-align: center;
    font-size: 200%;
    color: rgb(0, 204, 255);
    font-family:'Courier New', Courier, monospace;
}

.practise-button-container {
    text-align: center;
}

.practise-button {
    background-color:rgb(132, 132, 132);
    border-radius: 15%;
}

.practise-button:hover {
    background-color:rgb(101, 101, 101);
    transition: background-color 0.2s ease;
}

.practise-button-text {
    font-size: large;
    color:rgb(0, 0, 0);
    font-family: sans-serif;
}

