body{
    background-color: rgba(7, 7, 7, 0.905);
}

#top{
    background-color: dimgrey;
    text-align: center;
}

#title1{
    font-size: 130%;
}

#title2{
    font-size: 120%;
}

#start-button-div{
    text-align: center;
}

#start-button{
    height:11vh;
    width: 16vw;
    background-color: rgb(99, 99, 99);
    border-radius: 13px;
    font-size:x-large;
}

#main-container{
    display: inline;
}

#saxophone-container{
    position: absolute;
    background-color: blue;
    height: 540px;
    width:268px;
    top: 175px;
    left: 400px;
    overflow: hidden;
    display: inline;
}

#saxophone-image{
    position: relative;
    left: 17px;
    top: 19px;
}

#key1{
    background-color:aqua;
    position: relative;
    width: 18.5px;
    height: 18px;
    left: 97px;
    top: -317px;
}