body {
    background-image: linear-gradient(to right, rgb(39, 39, 39), rgb(65, 65, 65));
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



#page-text-container {
    text-align: center;
}

#page-title {
    font-size: 120%;
    font-family:sans-serif;
    color: white;
}

#page-description {
    font-size: 100%;
    font-family:sans-serif;
    color: white;
}

#home-button {
    position: absolute;
    top: 10px;
}

#timer {
    position: relative;
    text-align: center;
    color:aliceblue;
    font-size: 1.8rem;
    display: none;
}

#difficulties {
    text-align: center;
    position: relative;
    top: 30px;
    width: 600px;
    display: none;
}

#difficulties-text-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    color: rgba(202, 202, 202, 0.416);
}

#easy-difficulty {
    position: relative;
    width: 150px;
    height: 70px;
    top: 2vh;
    border-radius: 40%;
    background-color: rgb(0, 255, 98);
}

#easy-difficulty:hover {
    background-color: rgb(0, 151, 58);
    transition: background-color 0.2s ease;
}

#medium-difficulty {
    position: relative;
    width: 150px;
    height: 70px;
    top: 4vh;
    border-radius: 40%;
    border-color: rgb(0, 0, 0);
    background-color: rgb(242, 255, 0);
}

#medium-difficulty:hover {
    background-color: rgb(142, 149, 0);
    transition: background-color 0.2s ease;
}


#hard-difficulty {
    position: relative;
    width: 150px;
    height: 70px;
    top: 6vh;
    border-radius: 40%;
    background-color: rgb(255, 0, 0);
}

#hard-difficulty:hover {
    background-color: rgb(151, 2, 2);
    transition: background-color 0.2s ease;
}

#start-button-container {
    text-align: center;
}

#start-button {
    height: 90px;
    width: 200px;
    background-color: rgb(99, 99, 99);
    border-radius: 13px;
    font-size:x-large;
}

#start-button:hover {
    background-color:rgb(80, 80, 80);
    transition: background-color 0.2s ease;
}

#main-container {
    display: none;
    width: 100vw;
}

#instrument-container {
    position: absolute;
    height: 710px;
    width:268px;
    top: 210px;
    overflow: hidden;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, #F7971E, #FFD200);
}

#note-text-container {
    text-align: center;
    height: 45px;
}

#note-text {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

#score-text-container {
    text-align: center;
    height: 0px;
}

#score-text {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(0, 0, 0);
}


#instrument-image {
    position: relative;
    left: 17px;
    top: 19px;
}

.key {
    position: relative;
}

.main-key {
    width: 21px;
    height: 20px;
    left: 96px;
}

.input-key {
    position: relative;
    left: -4px;
    top: -3px;
    opacity: 0;
}

.key-image {
    position: absolute;
    display: none;
}

#key1 {
    top: -318px;
}

#key1-input {
    width: 21px;
    height: 20px;
}

#key1-image {
    width: 21px;
    height: 20px;
    left: 0.1px;
    top: -0.1px;
}

#key2 {
    top: -312px;
}

#key2-input {
    width: 21px;
    height: 20px;
}

#key2-image {
    width: 21px;
    height: 20px;
    top: 0px;
    left: 0.1px;
}

#key3 {
    top: -310px;
}

#key3-input {
    width: 21px;
    height: 20px;
}

#key3-image {
    width: 21px;
    height: 20px;
    top: -0.1px;
    left: 0.3px;
}

#key4 {
    top: -242.5px;
}

#key4-input {
    width: 21px;
    height: 20px;
}

#key4-image {
    width: 21px;
    height: 20px;
    top: 0.5px;
    left: 0.3px;
}

#key5 {
    top: -236px;
}

#key5-input {
    width: 21px;
    height: 20px;
}

#key5-image {
    width: 21px;
    height: 20px;
    top: -0.1px;
    left: 0.3px;
}

#key6 {
    top: -230px;
}

#key6-input {
    width: 21px;
    height: 20px;
}

#key6-image {
    width: 21px;
    height: 20px;
    top: -0.1px;
    left: 0.3px;
}

#low-c-key {
    width: 30px;
    height: 18px;
    left: 89px;
    top: -203px;
}

#low-c-key-input {
    width: 30px;
    height: 18px;
}

#low-c-key-image {
    height: 19.6px;
    top: -0.4px;
    left: 0.7px;
}

#eb-key {
    width: 30px;
    height: 18px;
    left: 89px;
    top: -240px;
}

#eb-key-input {
    width: 30px;
    height: 18px;
}

#eb-key-image {
    height: 16.8px;
    top: 0px;
    left: 0.7px;
}

#bb-key {
    width: 15px;
    height: 15px;
    left: 114px;
    top: -458px;
}

#bb-key-input {
    width: 15px;
    height: 15px;
}

#bb-key-image {
    height: 11.3px;
    top: 1.85px;
    left: -0.65px;
}

#alt-bb-key {
    width: 15px;
    height: 25px;
    left: 50px;
    top: -370px;
}

#alt-bb-key-input {
    width: 15px;
    height: 25px;
}

#alt-bb-key-image {
    height: 19.5px;
    top: -0.6px;
    left: 1.172px;
}

#alt-c-key {
    width: 15px;
    height: 20px;
    left: 50px;
    top: -413px;
}

#alt-c-key-input {
    width: 15px;
    height: 20px;
}

#alt-c-key-image {
    height: 14.5px;
    top: 0.8px;
    left: 1.54px;
}

#high-e-key {
    width: 15px;
    height: 20px;
    left: 50px;
    top: -453px;
}

#high-e-key-input {
    width: 15px;
    height: 20px;
}

#high-e-key-image {
    height: 15px;
    top: 3.45px;
    left: 1.6px;
}

#high-fsharp-key {
    width: 15px;
    height: 35px;
    left: 78px;
    top: -415px;
}

#high-fsharp-key-input {
    width: 15px;
    height: 35px;
}

#high-fsharp-key-image {
    height: 34px;
    top: 1.2px;
    left: 1.98px;
}

#alt-fsharp-key {
    width: 25px;
    height: 17px;
    left: 70px;
    top: -413px;
}

#alt-fsharp-key-input {
    width: 25px;
    height: 17px;
}

#alt-fsharp-key-image {
    height: 12px;
    top: 3.22px;
    left: 1.4px;
}

#octave-key {
    width: 50px;
    height: 50px;
    left: 25px;
    top: -610px;
}

#octave-key-input {
    width: 50px;
    height: 50px;
}

#octave-key-image {
    height: 30px;
    top: 7.9px;
    left: 7.5px;
}

#front-f-key {
    width: 25px;
    height: 25px;
    left: 96px;
    top: -685px;
}

#front-f-key-input {
    width: 25px;
    height: 25px;
}

#front-f-key-image {
    height: 26.7px;
    top: 0px;
    left: -0.1px;
}

#palm-d-key {
    width: 15px;
    height: 25px;
    left: 227px;
    top: -665px;
}

#palm-d-key-input {
    width: 15px;
    height: 25px;
}

#palm-d-key-image {
    height: 24px;
    top: 0px;
    left: -0.45px;
}

#palm-dsharp-key {
    width: 15px;
    height: 25px;
    left: 215px;
    top: -710px;
}

#palm-dsharp-key-input {
    width: 15px;
    height: 25px;
}

#palm-dsharp-key-image {
    height: 24.2px;
    top: 2.9px;
    left: 0.5px;
}

#palm-f-key {
    width: 15px;
    height: 25px;
    left: 210px;
    top: -710px;
}

#palm-f-key-input {
    width: 15px;
    height: 25px;
}

#palm-f-key-image {
    height: 24px;
    top: -1.4px;
    left: -1px;
}

#gsharp-key {
    width: 30px;
    height: 15px;
    left: 200px;
    top: -710px;
}

#gsharp-key-input {
    width: 30px;
    height: 15px;
}

#gsharp-key-image {
    height: 13.3px;
    top: 3.3px;
    left: -0.1px;
}

#low-b-key {
    width: 15px;
    height: 15px;
    left: 202px;
    top: -709px;
}

#low-b-key-input {
    width: 15px;
    height: 15px;
}

#low-b-key-image {
    height: 16.3px;
    top: 0.5px;
    left: -0.9px;
}

#low-bb-key {
    width: 30px;
    height: 20px;
    left: 206px;
    top: -712px;
}

#low-bb-key-input {
    width: 30px;
    height: 20px;
}

#low-bb-key-image {
    height: 21.4px;
    top: -2px;
    left: 0px;
}

#low-csharp-key {
    width: 15px;
    height: 15px;
    left: 217px;
    top: -748px;
}

#low-csharp-key-input {
    width: 15px;
    height: 15px;
}

#low-csharp-key-image {
    height: 18.8px;
    top: -2px;
    left: -1.3px;
}


#note-choice-container {
    position: relative;
    left: 59px;
    top: -483px;
    height: 25px;
    width: 200px;
}

#note-choice {
    height: 25px;
    width: 150px;
}

#apply-button-container {
    height:11px;
    width: 16px;
    border-radius: 13px;
    font-size:x-large;
    position: absolute;
    top: 625px;
    left: 105px;
}


#apply-button {
    text-align: center;
    border-radius: 30%;
    border-color: rgb(0, 0, 0);
    border-width: 1%;
    background-color: rgb(144, 144, 144);
}

#apply-button:hover {
    background-color: rgb(98, 98, 98);
    transition: background-color 0.2s ease;
}

#finish-button-container {
    height:11px;
    width: 16vw;
    border-radius: 13px;
    font-size:x-large;
    position: absolute;
    display: none;
    top: 660px;
    left: 73px;
}   

#finish-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 30%;
    border-color: rgb(0, 0, 0);
    border-width: 1%;
    background-color: rgb(144, 144, 144);
    font-size: 120%;
}

#finish-button:hover {
    background-color: rgb(98, 98, 98);
    transition: background-color 0.2s ease;
}


#finish-screen {
    position: absolute;
    height: 680px;
    width:268px;
    top: 210px;
    overflow: hidden;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, rgb(255, 213, 0), rgb(0, 0, 0));
}

.finish-screen-info {
    position: relative;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#finish-screen-text {
    text-align: center;
    font-size: 130%;
}

#name-input {
    position: relative;
    text-align: center;
    margin : 0 auto;
}

#name-input-container {
    position: relative;
    margin : 0 auto;
    left: 45px;
}


