body {
    background-image: linear-gradient(to right, rgb(39, 39, 39), rgb(65, 65, 65));
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#page-text-container {
    text-align: center;
}

#page-title {
    font-size: 120%;
    font-family:sans-serif;
    color: white;
}

#page-description {
    font-size: 100%;
    font-family:sans-serif;
    color: white;
}

#home-button {
    position: absolute;
    top: 10px
}


#main-container {
    display: inline;
    width: 100vw;
}

#instrument-container {
    position: absolute;
    height: 370px;
    width: 680px;
    top: 210px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    background-image: linear-gradient(to bottom left, #9900ff, #ff00ff)
}

#instrument-image {
    position: relative;
    left: 20px;
    top: 30px;
}

#note-text-container {
    text-align: center;
    height: 45px;
}

#note-text {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-weight: 900;
}




.key-image {
    position: absolute;
}

#thumb-1-image {
    left: 190px;
    top: 250px;
}

#thumb-A-sharp-image {
    left: 161px;
    top: 244px;
}

#key-1-image {
    left: 157px;
    top: 202px;
}

#key-2-image {
    left: 206px;
    top: 202px;
}

#key-3-image {
    left: 255px;
    top: 202px;
}

#key-4-image {
    left: 330px;
    top: 202px;
}

#key-5-image {
    left: 379px;
    top: 202px;
}

#key-6-image {
    left: 428px;
    top: 202px;
}

#G-sharp-key-image {
    left: 265px;
    top: 166px;
}

#A-sharp-trill-key-image {
    left: 323px;
    top: 243px;
}

#trill-1-image {
    left: 366px;
    top: 235px;
}

#trill-2-image {
    left: 415px;
    top: 235px;
}

#D-sharp-key-image {
    left: 475px;
    top: 196px;
}

#C-sharp-key-image {
    left: 502px;
    top: 222px;
}

#C-key-image {
    left: 502px;
    top: 210px;
}


#note-choice-container {
    position: relative;
    left: 264px;
    top: 43px;
    height: 25px;
    width: 200px;
}

#note-choice {
    height: 25px;
    width: 150px;
}

#apply-button-container {
    height:11px;
    width: 16px;
    border-radius: 13px;
    font-size:x-large;
    position: absolute;
    top: 333px;
    left: 309px;
}

#apply-button {
    text-align: center;
    border-radius: 30%;
    border-color: rgb(0, 0, 0);
    border-width: 1%;
    background-color: rgb(144, 144, 144);
}

#apply-button:hover {
    background-color: rgb(98, 98, 98);
    transition: background-color 0.2s ease;
}
